---
import Layout from '../components//Layout.astro';
import * as Image from '../scripts/ImagePath'
---
<head>
  <title>Download Details and Github Repository - MoonRay</title>
</head>

<Layout>
  <img src={Image.download_cover} class="w-full" />
  <div class="p-10 m-5">
  <h1 class="text-3xl font-bold pb-5">Download</h1>

  <p class="pb-10">
    The <a href="https://github.com/dreamworksanimation/openmoonray" class="text-blue-600 underline italic">openmoonray repository</a>, 
    on GitHub is the top-level repository for MoonRay opensource. The actual source code is contained in a number of other repositories referenced there as git submodules.
  </p>

  <h1 class="text-2xl pb-5">Additional Resources</h1>
  <p class="pb-10">
    Please join us in the <a href="https://github.com/dreamworksanimation/openmoonray/discussions" class="text-blue-600 underline">discussion forum</a>
    and follow the <a href="https://github.com/dreamworksanimation/openmoonray/issues" class="text-blue-600 underline">issue tracker</a>.
  </p>
  </div>
</Layout>