---
import Layout from '../components//Layout.astro';
import * as Image from '../scripts/ImagePath'
---
<head>
  <title>License and Contributor Agreement - MoonRay Production Renderer</title>
</head>

<Layout>
  <img src={Image.license_cover} class="w-full" />
  <div class="p-10 m-5">
  <h1 class="text-3xl font-bold pb-5">License</h1>

  <p class="pb-10">
    MoonRay is released under the <a href="https://www.apache.org/licenses/LICENSE-2.0/" class="text-blue-600 underline">Apache License, Version 2.0</a>, 
    which is a free, open-source, and detailed software license developed and maintained by the Apache Software Foundation.
  </p>

  <h1 class="text-2xl pb-5">Contributor License Agreement</h1>
  <p class="pb-10">
    Developers who wish to contribute code to be considered for inclusion in the MoonRay distribution must first complete <a href="https://github.com/dreamworksanimation/openmoonray/blob/main/CONTRIBUTING.md" class="text-blue-600 underline">Contributor License Agreement</a>
    and submit it to MoonRay@dreamworks.com. 
  </p>

  <h1 class="text-2xl pb-5">DCO sign-offs</h1>
  <p>
   All code should adhere to the MoonRay coding standards, and every commit must be signed off. That is, every commit log message must include a &quot;Signed-off-by&quot; line (generated, for example, with &quot;git commit --signoff&quot;), indicating that the contributor has the right to release it under the Apache License, version 2.0. See <a href="https://developercertificate.org/" class="text-blue-600 underline">developercertificate.org</a>
   for more information on this requirement.
  </p>

  </div>
</Layout>

