---
const currentYear = new Date().getFullYear();
import * as Image from '../scripts/ImagePath'
---
<footer class="text-gray-800 p-4 text-center flex flex-col items-center justify-center w-full mt-auto">
  <img src={Image.footer_logo} class="mb-4" />
  <p>Copyright &copy; 2022-{currentYear} DreamWorks Animation LLC. All Rights Reserved.</p>
  <p>MoonRay & Arras &copy;  DreamWorks Animation LLC.</p>
</footer>